# Thu 24 Feb 2022 12:28:54 AM UTC
CONFIG_CHROOT=y
CONFIG_CUT=y
CONFIG_DU=y
CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K=y
CONFIG_MD5SUM=y
CONFIG_WC=y
CONFIG_FEATURE_WC_LARGE=y
CONFIG_LSUSB=y
CONFIG_TIME=y
CONFIG_FEATURE_MOUNT_LABEL=y
CONFIG_VOLUMEID=y

#
# Filesystem/Volume identification
#
CONFIG_FEATURE_VOLUMEID_EXFAT=y
CONFIG_FEATURE_VOLUMEID_EXT=y
CONFIG_FEATURE_VOLUMEID_F2FS=y
CONFIG_FEATURE_VOLUMEID_FAT=y

